




<div id="cover" class="play" style="">
</div>




  <div id="jquery_jplayer_1" class="jp-jplayer"></div>
<div id="jp_container_1" class="jp-audio well" role="application" aria-label="media player">
  <div class="jp-type-single">
    <div class="jp-gui jp-interface">
      <div class="jp-controls">
        <button class="jp-play btn btn-circle btn-xl btn-success" role="button" tabindex="0"><i class="glyphicon-play glyphicon"></i></button>
        <button class="jp-stop btn btn-md btn-danger" role="button" tabindex="0"><i class="glyphicon-stop glyphicon"></i></button>
      </div>
      <div class="jp-progress">
        <div class="jp-seek-bar">
          <div class="jp-play-bar"></div>
        </div>
      </div>
      <div class="jp-volume-controls">
        <button class="jp-mute btn" role="button" tabindex="0"><i class="glyphicon-volume-off glyphicon"></i></button>
        <button class="jp-volume-max btn" role="button" tabindex="0"><i class="glyphicon-volume-up glyphicon"></i></button>
        <div class="jp-volume-bar">
          <div class="jp-volume-bar-value"></div>
        </div>
      </div>
      <div class="jp-time-holder">
        <div class="jp-current-time" role="timer" aria-label="time">&nbsp;</div>
        <div class="jp-duration" role="timer" aria-label="duration">&nbsp;</div>
        <div class="jp-toggles">
          <button class="jp-repeat hidden" role="button" tabindex="0">repeat</button>
        </div>
      </div>
    </div>
    <div class="jp-details">
      <div class="jp-title" aria-label="title">&nbsp;</div>
    </div>
    <!-- <div class="jp-no-solution">
      <span>Update Required</span>
      To play the media you will need to either update your browser to a recent version or update your <a href="http://get.adobe.com/flashplayer/" target="_blank">Flash plugin</a>.
    </div> -->
  </div>
</div>

<style type="text/css">




.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}
.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
}
.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 35px;
}


    button.col-sm-1 {
        height: 40px !important;
    }

#cover {
    position: absolute;
    content: '';
    background-image:url("<%= @post.image.url(:embed_cover) %>"); 
    width: 100%;
    height: 100%;
    cursor: pointer;
    z-index: 2;
    background-size:cover;
}


.middle {
  margin: auto !important;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}


</style>

<script type="text/javascript">
    
$(document).ready(function(){


  $('#cover').prepend('<div class="col-md-12"><div class="well pull-left clearfix"><div class=""></div><div class="pull-left"><h1><i class="icon-control-play i-2x"></i></h1></div><h1><%= @post.title %> <br/> <small> by <%= @post.user.name %></small></h1></div></div>')



        $("#jquery_jplayer_1").jPlayer({
        ready: function () {
          $(this).jPlayer("setMedia", {
            title: "<%=raw @post.title %>",
            m4a: 'http://res.cloudinary.com/dnffmpcmo/video/upload/<%=raw @post.audio.file.identifier %>',
            oga: "http://www.jplayer.org/audio/ogg/Miaow-07-Bubble.ogg"
          });
        },
        cssSelectorAncestor: "#jp_container_1",
        swfPath: "/js",
        supplied: "m4a, oga",
        useStateClassSkin: true,
        autoBlur: false,
        smoothPlayBar: true,
        keyEnabled: true,
        remainingDuration: true,
        toggleDuration: true
      });


        $('.jp-play').on('click', function(e){
    
          e.preventDefault();
 
            $.ajax("/posts/<%= @post.id %>/play");
          console.log('play');  

        });

          $('body').on('click', function(e){
        e.preventDefault;
         $('#cover img').remove();
         $('#embed').fadeIn();
        $('#cover').fadeOut();
        $("#jquery_jplayer_1").jPlayer().play();
  
      });


});




</script>





