<% content_for :head do %>
<meta name="twitter:card" content="player">
<meta name="twitter:site" content="@elon">
<meta name="twitter:title" content="<%= @post.title %>">
<meta name="twitter:description" content="<%= @post.summary %>">
<meta name="twitter:creator" content="@<%= @post.user.profile.display_name %>">
<meta name="twitter:image:src" content="<%= @post.image.url(:thumb) %>">
<meta name="twitter:domain" content="elon.xyz">
<meta name="twitter:player" content="https://elon.herokuapp.com<%= player_path(@post.id) %>">

<meta property="og:title" content="<%= @post.title %>" />
<meta property="og:url" content="http://elon.herokuapp.com/posts/<%= @post.id %>" />
<meta property="og:image" content="<%= @post.image.url(:thumb) %>" />
<% end %>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Embed: <%= @post.title %></h4>
      </div>
      <div class="modal-body">

        <iframe src="<%= embed_url(@post) %>" frameborder="none" width="500" height="500"></iframe>
        <br>
        <textarea cols="60" rows="3"><iframe src="<%= embed_url(@post) %>" frameborder="none" width="500" height="500"></iframe></textarea>



      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Copy to Clipboard</button>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-8">

  <h1>

    <%= link_to @post.title, @post.url, :target => "_blank" %>
    <br/>
  <small>
  via  <%= link_to @post.user.profile.display_name, profile_path(@post.user.profile) %>
  </small>
  </h1>
  <label class="label label-success">

     <i class="glyphicon glyphicon-play"></i> 

     <%= pluralize(@post.plays.to_i, 'play') %></label>
  <% @post.tag_list.each do |tag| %>
      <label class="label label-default"> <i class="glyphicon glyphicon-tag"></i> 
      <%= link_to tag, tag_path(tag) %></label>
  <% end %>

  <br/><br/>

  <% unless @post.audio.blank? %>
  <audio controls="controls" class="hidden">
    Your browser does not support the <code>audio</code> element.
    <source src="   <%= "http://res.cloudinary.com/dnffmpcmo/video/upload/#{@post.audio.file.identifier}" %>  " type="audio/mp3">
  </audio>

  <br/>

  <div id="jquery_jplayer_1" class="jp-jplayer"></div>
<div id="jp_container_1" class="jp-audio well" role="application" aria-label="media player">
  <div class="jp-type-single">
    <div class="jp-gui jp-interface">
      <div class="jp-controls">
        <button class="jp-play btn btn-circle btn-xl btn-success" role="button" tabindex="0"><i class="glyphicon-play glyphicon"></i></button>
        <button class="jp-stop btn btn-md btn-danger" role="button" tabindex="0"><i class="glyphicon-stop glyphicon"></i></button>
      </div>
      <div class="jp-progress">
        <div class="jp-seek-bar">
          <div class="jp-play-bar"></div>
        </div>
      </div>
      <div class="jp-volume-controls pull-right">
        <button class="jp-mute btn" role="button" tabindex="0"><i class="glyphicon-volume-off glyphicon"></i></button>
        <button class="jp-volume-max btn" role="button" tabindex="0"><i class="glyphicon-volume-up glyphicon"></i></button>
        <div class="jp-volume-bar">
          <div class="jp-volume-bar-value"></div>
        </div>
      </div>
      <div class="jp-time-holder">
        <div class="jp-current-time" role="timer" aria-label="time">&nbsp;</div>
        <div class="jp-duration" role="timer" aria-label="duration">&nbsp;</div>
        <div class="jp-toggles">
          <button class="jp-repeat hidden" role="button" tabindex="0">repeat</button>
        </div>
      </div>
    </div>
    <div class="jp-details">
      <div class="jp-title" aria-label="title">&nbsp;</div>
    </div>
    <!-- <div class="jp-no-solution">
      <span>Update Required</span>
      To play the media you will need to either update your browser to a recent version or update your <a href="http://get.adobe.com/flashplayer/" target="_blank">Flash plugin</a>.
    </div> -->
  </div>
</div>

  <% end %>


  <% unless @post.summary.blank? %>
  <p class="well">
    <%= @post.summary %>


  </p>
  <% end %>

        


<div class="pull-right">
  <hr/>
  <a type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#myModal">
  <i class="glyphicon glyphicon-menu-left"></i>/<i class="glyphicon glyphicon-menu-right"></i> Embed
</a>

<% if user_signed_in? %>
  <% if current_user.try(:admin?) %>
    <%= link_to 'Edit', edit_post_path(@post), :class => "btn btn-default btn-sm" %> 
    <span> <%= link_to 'Destroy', @post,  :class => "btn btn-danger btn-sm", method: :delete, data: { confirm: 'Are you sure?' } %>
            </span>
  <% end %>
<% end %>

</div>
  <p class="well hidden">
    <%= @post.body %>
  </p>


  </div>
  <div class="col-md-4 text-center">
    <br/>
    <%= image_tag(@post.image.url(:large), :class => "img-responsive") %>
    <br/>

    <!-- sharing -->
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Share</h3>
  </div>
  <div class="panel-body">
     <ul class="nav social_buttons clearfix ">
        <li><%= tweet_button( url: post_url(@post.id), :text => truncate(@post.title, length: 120 ), via: "elon", :count => "horizontal")  %></li>
        <li><%= like_button(1440239169528450, url: post_url(@post.id)) %></li>
        <li><%= pinit_button %></li>
        <li><%= google_plus_button %></li>
    </ul>
  </div>
</div>

<!-- adverts -->

        <div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Sponsored by</h3>
  </div>
  <div class="panel-body">
    <%= image_tag("https://placekitten.com/g/300/250") %>
  </div>
</div>

  </div>

</div>

<% unless @post.audio.blank? %>

<script type="text/javascript">
    
$(document).ready(function(){

      $("#jquery_jplayer_1").jPlayer({
        ready: function () {
          $(this).jPlayer("setMedia", {
            title: "<%=raw @post.title %>",
            m4a: 'http://res.cloudinary.com/dnffmpcmo/video/upload/<%=raw @post.audio.file.identifier %>',
            oga: "http://www.jplayer.org/audio/ogg/Miaow-07-Bubble.ogg"
          });
        },
        cssSelectorAncestor: "#jp_container_1",
        swfPath: "/js",
        supplied: "m4a, oga",
        useStateClassSkin: true,
        autoBlur: false,
        smoothPlayBar: true,
        keyEnabled: true,
        remainingDuration: true,
        toggleDuration: true
      });


        $('.jp-play').on('click', function(e){
    
          e.preventDefault();
 
            $.ajax("/posts/<%= @post.id %>/play");
          console.log('play');  

        });



});




</script>

<% end %>

