<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Elon" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Elon" %>">
    
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    
    <%= stylesheet_link_tag 'readable', media: 'all' %>
    <!-- <link type="text/css" href="/assets/jplayer.blue.monday.scss" rel="stylesheet" /> -->
    <%= javascript_include_tag 'readable' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
       <%= yield %>
  </body>
</html>
